@import "src/styles/variables";

.spinner-containner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255,255, 0.65);
  z-index: 999999;
  
}

.ant-spin-nested-loading {
  width: 100%;
}