<div class="loan-account-search-form">
<form nz-form [formGroup]="searchForm" (ngSubmit)="submitForm()">
  <div nz-row [nzGutter]="[8, 8]">
    <div nz-col nzXs="24" nzMd="6">
      <nz-form-item>
        <nz-form-label nzXs="24" nzMd="10" nzFor="loanType" class="loan-account-search-left"
          >Loan types</nz-form-label
        >
        <nz-form-control nzXs="24" nzMd="14">
          <nz-select class="input-form"
            id="loanType"
            formControlName="loanType"
            nzPlaceHolder="All"
          >
            <nz-option nzValue="" nzLabel="All"></nz-option>
            <nz-option
              *ngFor="let l of loanTypes"
              nzValue="{{ l }}"
              nzLabel="{{ l }}"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24" nzMd="6">
      <nz-form-item>
        <nz-form-label nzXs="24" nzMd="10" nzFor="loan_account"
        class="loan-account-search-left"
          >Loan account</nz-form-label
        >
        <nz-form-control nzXs="24" nzMd="14">
          <input class="input-form"
            nz-input
            formControlName="loanAccount"
            id="loan_account"
            placeHolder="All"
            maxlength = "20"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24" nzMd="6">
      <nz-form-item>
        <nz-form-label nzXs="24" nzMd="10" nzFor="loanStatus"
        class="loan-account-search-right"
          >Loan status</nz-form-label
        >
        <nz-form-control nzXs="24" nzMd="14">
          <nz-select  class="input-form"
            id="loanStatus"
            formControlName="status"
            nzPlaceHolder="All"
          >
          <nz-option nzValue="" nzLabel="All"></nz-option>
            <nz-option
              *ngFor="let s of loanStatus"
              nzValue="{{ s }}"
              nzLabel="{{ status[s].name }}"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24" nzMd="6">
      <nz-form-item>
        <nz-form-label nzXs="24" nzMd="10" nzFor="customer"
        class="loan-account-search-right"
          >Customer</nz-form-label
        >
        <nz-form-control nzXs="24" nzMd="14">
          <input class="input-form"
            nz-input
            formControlName="customerName"
            id="customer"
            placeHolder="All"
            maxlength = "250"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24" nzMd="6">
      <nz-form-item>
        <nz-form-label nzXs="24" nzMd="10" nzFor="cardNumber"
        class="loan-account-search-left"
          >ID/Passport No</nz-form-label
        >
        <nz-form-control nzXs="24" nzMd="14">
          <input class="input-form"
            nz-input
            formControlName="cardNumber"
            id="cardNumber"
            placeHolder="All"
            maxlength = "50"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24" nzMd="6">
      <nz-form-item>
        <nz-form-label nzXs="24" nzMd="10" nzFor="from"
        class="loan-account-search-left"
          >Create date from*</nz-form-label
        >
        <nz-form-control nzXs="24" nzMd="14">
          <nz-date-picker
            id="fromDate"
            formControlName="fromDate"
            nzFormat="dd/MM/yyyy"
            nzPlaceHolder="dd/mm/yyyy"
            [nzInputReadOnly] = true
            nzAllowClear="false"
          >
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24" nzMd="6">
      <nz-form-item>
        <nz-form-label nzXs="24" nzMd="10" nzFor="to"
        class="loan-account-search-right">To*</nz-form-label>
        <nz-form-control nzXs="24" nzMd="14">
          <nz-date-picker #endDatePicker
            id="toDate"
            formControlName="toDate"
            nzFormat="dd/MM/yyyy"
            nzPlaceHolder="dd/mm/yyyy"
            [nzInputReadOnly] = true
            nzAllowClear="false"
          >
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24" nzMd="6">
      <nz-form-item>
        <nz-form-label nzXs="24" nzMd="10" nzFor="to"
        class="loan-account-search-right">Approve due date</nz-form-label>
        <nz-form-control nzXs="24" nzMd="14">
          <nz-date-picker #endDatePicker
            id="approveDueDate"
            formControlName="approveDueDate"
            nzFormat="dd/MM/yyyy"
            nzPlaceHolder="dd/mm/yyyy"
            [nzInputReadOnly] = true
            nzAllowClear="false"
          >
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="loan-account-search-button" nz-col nzXs="24" nzMd="6">
      <nz-form-item>
        <nz-form-control nzSpan="24">
        <button type="submit" nz-button nzType="primary" [disabled] = "searchForm.invalid">Search</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
</div>
