::ng-deep label {
  font-weight: 700;
  font-size: 12px !important;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.loan-account-search-form nz-form-item.ant-form-item.ant-row {
  margin-right: -2px;
}

.loan-account-search-form nz-form-control {
  margin-left: 3px;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}

.loan-account-search-left{
  text-align: left!important
}

.loan-account-search-right{
  text-align: right!important
}

.loan-account-search-message{
  font-weight: 400;
  font-size: 18px !important;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}


.loan-account-search-form{
  position: relative;
  margin-bottom: 60px;
  ::-webkit-input-placeholder, nz-form-control {
    font-style: italic;
 }
}

.loan-account-search-button{
  margin: 0 50%;
}

.search-form-datepicker-error{
  color: red;
  margin: 3px -55px;
}

::ng-deep .ant-tooltip-inner {
  color: rgb(0, 0, 0);
  background-color: #F1F3A6;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  border: 1px solid black;
}
::ng-deep .ant-tooltip-placement-bottom .ant-tooltip-arrow, .ant-tooltip-placement-bottomLeft .ant-tooltip-arrow, .ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
  display: none;
}
::ng-deep .ant-input {
  padding: 4px 5px !important
}
::ng-deep nz-select-item.ant-select-selection-item {
  margin: 0px -6px;
}

::ng-deep.input-form{
  font-size: 12px;
}
