<div>Replan Infomation</div>
<div nz-row nzJustify="space-around">
  <div nz-col nzSpan="11">
    <div>
      <label>Check list:</label>
      <button nz-button nzType="primary" nzShape="circle"></button>
    </div>
    <div>
    <label>Status request: </label>
    </div>
    <div>
     <label>Request date: </label>
    </div>
    <div>
      <label>Expect approve date: </label>
    </div>
    <div>
      <label>Expiry date request: </label>
    </div>
    <div>
      <label>Result date: </label>
    </div>
  </div>
  <div nz-col nzSpan="11">
    <div>
      <label>Rate*: </label>
    </div>
    <div>
      <label>Valid financal </label>
    </div>
    <div>
      <label>Monthly Income: </label>
    </div>
    <div>
      <label>Monthly expense: </label>
    </div>
    <div>
      <label>Net Income: </label>
    </div>
    <div>
      <label>Est monthly payment: </label>
    </div>
    <div>
      <label>Valid score </label>
    </div>
  </div>
</div>
