@import 'src/styles/variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	word-break: break-all;
	line-height: 1.5em;
}

@font-face {
	font-family: $primary-font;
	font-weight: normal;
  src: url('../assets/fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
	font-family: $primary-font;
	font-weight: bold;
  src: url('../assets/fonts/roboto/Roboto-Bold.ttf');
}

html, body {
	font-size: 14px;
	font-family: $primary-font;
	color: $text-dark;
	background: $background;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

ul, li {
	display: block;
}

a {
	text-decoration: none;
	user-select: none;

	&:hover {
		color: $secondary;
	}
}

input {
	width: 100%;

	&:focus {
		outline: none;
	}
}

button {

	background: transparent;
	border: none;
	
	&:focus {
		outline: none;
	}

	&:hover {
		cursor: pointer;
	}
}

.full-width {
	width: 100% !important;
}

table {
	border-collapse: collapse;
}

.gray {
	color: #A9A9A9;
}
  