// theme colors
$primary  : #686868;
$secondary: #FBBC05;

$success  : #1bbc9b;
$danger   : #d83a3a;
$warning  : #ffa500;
$info     : #17a2b8;

// text colors
$text-dark : #000;
$text-light: #fff;

// background
$background    : #f4f4f4;

// fonts
$primary-font: 'Roboto';
$gutter: 10px;

