@import "src/styles/variables";

:host {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  min-height: calc(100vh - 280px);
}

.inner-content {
  padding: 10px 20px;
  background: $text-light;
}

.header {
  background: $primary;
}

.search-area {
  // implement later
}

.result-area {
  // implement later
}

.pagination {
  // implement later
}
