::ng-deep {
  .column-header {
    font-weight: bold;
    font-size: 1.2rem;
    color: #FCC424;
    text-align: center;
    padding-bottom: 0.7rem;
  }

  .ant-col-12  {
    line-height: 2.8em;
  }

  .application-detail {
    margin-bottom: 0.8rem;
  }
}

